<h1>Bienvenue sur notre site {{ prenom }} {{ nom }}!</h1>


<h2>N'hésitez pas à <a href="{{ path ('app_envoyer_email', {'email':adresseEmail}) }}">regarder nos biens</a> ou à <a href="{{ path('app_bien_new') }}">ajouter un bien</a></h2>